[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
goldlinq = {path = "."}
python-dotenv = "*"

[dev-packages]
black = "*"
pytest = "*"
webtest = "*"
factory-boy = "*"
pytest-flask = "*"
twine = "*"
pytest-bdd = "*"
tox = "*"
pylint = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
