[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
goldlinq = {editable = true,path = "."}
python-dotenv = "*"

[dev-packages]
black = "*"
pytest = "*"
webtest = "*"
factory-boy = "*"
pytest-flask = "*"
twine = "*"
pytest-bdd = "*"
tox = "*"
pylint = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
pytest-cov = "*"
sphinx-apidoc = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
fix_lint = "black -l 80 goldlinq/ tests/"
lint = "flake8"
test = "pytest --cov"
